.comment-toggling {
    position: relative;
    width: 100%;
    padding-bottom: 16px;

    &__text {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        line-height: 1.6;
        font-size: $font-size-medium;
    }
    
    &::after {
        content: 'Read more';
        position: absolute;
        bottom: 0; left: 0;
        color: $color-text-variation-medium;
        font-size: $font-size-small;
    }

    &--one-line {
        .comment-toggling__text {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &--text-fade {
        .comment-toggling__text {
            height: 40px;

            &::before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%);
                opacity: 1;
                transition: opacity .3s ease;
            }
        }
    }

    &--is-active {
        .comment-toggling__text {
            height: auto;
            white-space: normal;
            text-overflow: unset;

            &::before {
                opacity: 0;
            }            
        }
        &::after {
            content: 'Read less'
        }
    }
}