@mixin drop-shadow() {
    box-shadow:
                -10px 2px 10px 0px rgba(0,0,0,0.25),
                10px 2px 10px 0px rgba(0,0,0,0.25);
}

.rating-filters {
    padding: 18px var(--inner-container-padding) 24px;
    background: $color-background-primary;
    &__form {
        text-align: right;
    }
    &__search{
        z-index: 100;
        position: relative;
        margin-bottom: 20px;
        box-shadow: none;
        font-size: $font-size-large;
        transition: box-shadow .2s ease;
        &--is-active {
            @include drop-shadow();

            .rating-filters__search-line-input {
                box-shadow: none;
            }
            .rating-filters__dropdown-list {
                transform: scaleY(1);
                font-size: $font-size-large;
                @include drop-shadow();
            }
        }

        &-line {
            position: relative;
            transition: filter .1s ease;

            &:hover {
                filter: brightness(110%);
            }

            &-input {
                display: block;
                min-width: 130px;
                width: 100%;
                box-sizing: border-box;
                margin: 0 auto;
                padding: 0 30px 0 15px;
                line-height: 40px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border: none;
                cursor: text;
                background: $color-background-primary;
                outline: none;
                color: $color-text-primary-inverse;
                border: 1px solid $color-background-primary-inverse;
                text-align: left;
                text-decoration: none;
                transition: background .3s ease;
                box-shadow: inset 2px 2px 5px rgba(59, 58, 56, 0.8);
                transition: box-shadow .2s ease;

                &::placeholder {
                    color: rgba($color-text-primary-inverse, .6);
                }

            }
            .fal {
                font-size: 20px;
                position: absolute;
                top: 12px; right: 10px;
            }
        }
    }
    &__statuses {
        position: relative;
        z-index: 90;
        margin: 0;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: $color-background-primary;
        font-size: $font-size-large;
        color: $color-text-primary-inverse;
        text-decoration: none;
        box-shadow: none;
        transition: box-shadow .2s ease;

        &--is-active {
            // @include drop-shadow();
            .rating-filters__dropdown-list {
                max-height: 400px;
                transform: scaleY(1);
                font-size: $font-size-large;
                // @include drop-shadow();

                &--floating {
                    max-height: initial;
                }
            }
            .rating-filters__statuses-text {
                box-shadow: none;

                .fal {
                    transform: rotate(180deg);
                }
            }
        }

        &-text {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 10px 30px 12px 15px;
            border: 1px solid $color-background-primary-inverse;
            background: inherit;
            // box-shadow: inset 2px 2px 10px rgba(59, 58, 56, 0.5);
            transition: box-shadow .2s ease, filter .1s ease;

            &:hover {
                filter: brightness(110%);
            }

            .fal {
                position: absolute;
                top: 12px; right: 10px;
                transition: transform .2s ease;
            }
        }
    }

    &__dropdown-list {

        margin: 0;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
        max-height: 0;
        border-left: 1px solid $color-background-primary-inverse;
        border-right: 1px solid $color-background-primary-inverse;
        border-bottom: none;
        background: $color-background-primary;
        list-style: none;
        text-align: left;
        transform: scaleY(0);
        transform-origin: center top;
        font-size: 0;
        transition: transform .2s ease, font-size .2s ease, box-shadow .2s ease, max-height .2s ease;
        box-shadow: none;

        &--floating {
            position: absolute;
            // top: 42px; left: 0;
            top: 100%; left: 0;
            max-height: initial;
            z-index: 100;
        }


        &-item {
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            border-bottom: 1px solid $color-background-primary-inverse;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: inherit;
            transition: filter .1s ease;

            &:hover {
                filter: brightness(110%);
            }

            &--active {
                filter: brightness(130%);
            }
        }
    }
    &__filter {
        display: block;
        padding: 10px 30px 12px 15px;

        &--candidate {
            input:checked ~ .rating-filters__filter-icon, input:checked ~ span {
                color: $color-text-warning;
            }
        }
        &--offer {
            input:checked ~ .rating-filters__filter-icon, input:checked ~ span {
                color: $color-info-ok;
            }
        }
        &--declined {
            input:checked ~ .rating-filters__filter-icon, input:checked ~ span {
                color: $color-error;
            }
        }
        &--not-suitable {
            input:checked ~ .rating-filters__filter-icon, input:checked ~ span {
                color: $color-info-variation;
            }
        }
        &-icon {
            margin-right: 6px;
            transition: color .25s ease;
            &:before {
                content: "\f0c8"; // content: "\f14a";
            }
        }
        span {
            transition: color .25s ease;
        }
        input[type="checkbox"] {
            display: none;
        }
        input:checked ~ &-icon {
            // font-weight: 900;
            &:before {
                content: "\f14a";
            }
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .rating-filters {
        &__form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__search {
            flex: 0 1 48%;
        }
        &__statuses {
            flex: 0 1 48%;
        }
        &__filter-button {
            margin: 0;
            margin-left: auto;
        }
    }
}
@media screen and (min-width: $breakpoint-l) {
    .rating-filters {
        &__search {
            font-size: $font-size-medium;

            &--is-active {
                .rating-filters__dropdown-list {
                    font-size: $font-size-medium;
                }
            }
        }
        &__statuses {
            font-size: $font-size-medium;

            &--is-active {
                .rating-filters__dropdown-list {
                    font-size: $font-size-medium;
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint-xl) {
    .rating-filters {
        width: 100%;
        max-width: 240px;
        box-sizing: border-box;
        padding-right: 0;
        padding-top: 20px;
        margin-left: 10px;

        &__form {
            flex-direction: column;
        }

        &__search {
            font-size: $font-size-regular;

            &--is-active {
                .rating-filters__dropdown-list {
                    font-size: $font-size-regular;
                }
            }
        }
        &__statuses {
            font-size: $font-size-regular;

            &--is-active {
                .rating-filters__dropdown-list {
                    font-size: $font-size-regular;
                }
            }
        }
    }
}